### Script
Subir datos de un archivo csv a una base de datos en MySQL

In [1]:
import mysql.connector

In [2]:
# Conexion a la base de datos MySQL
connect_mydb = mysql.connector.connect(host='localhost',
                               user='root',
                               database='twitter_db',
                               port='3306')
# Verificar la conexion
print(connect_mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000015401ACD0A0>

In [3]:
# Crear un cursor para ejecutar las consultas
cursor = connect_mydb.cursor()

In [6]:
# Crear una tabla en la base de datos MySQL donde se almacenaran los tweets del primer dataset 
cursor.execute('CREATE TABLE tweets_otan (id INT AUTO_INCREMENT PRIMARY KEY, Date VARCHAR(255), Username VARCHAR(255), Tweet VARCHAR(255), Polarity VARCHAR(255), Subjectivity VARCHAR(255))')

In [7]:
# Leer el archivo csv con los tweets del primer dataset
import pandas as pd

dataframe = pd.read_csv('Otan.csv')

# Imprimimos los primeros 3 tweets
dataframe.head(3)

,Date,User,Tweet,Polarity,Subjectivity
0,2023-03-15 16:51:39+00:00,EleanorAquitai5,@LaCatholicState @21WIRE Zelensky had his oppo...,-0.050000,0.400000
1,2023-03-15 16:51:24+00:00,vuthehung_1995,ðŸ‡·ðŸ‡ºðŸ‡ºðŸ‡¦...The work of the Ivanovo paratroopers of...,-0.033333,0.116667
2,2023-03-15 16:51:19+00:00,Ornimegalonyxz,"Ukrainian soldiers cut lard on the Koran, they...",-0.250000,0.800000

In [8]:
# Del dataframe solo tomamos 10 filas para testear el script
dataframe = dataframe.iloc[0:10, :]
dataframe

,Date,User,Tweet,Polarity,Subjectivity
0,2023-03-15 16:51:39+00:00,EleanorAquitai5,@LaCatholicState @21WIRE Zelensky had his oppo...,-0.050000,0.400000
1,2023-03-15 16:51:24+00:00,vuthehung_1995,ðŸ‡·ðŸ‡ºðŸ‡ºðŸ‡¦...The work of the Ivanovo paratroopers of...,-0.033333,0.116667
2,2023-03-15 16:51:19+00:00,Ornimegalonyxz,"Ukrainian soldiers cut lard on the Koran, they...",-0.250000,0.800000
3,2023-03-15 16:51:18+00:00,Escherspace1,@talkrealopinion Hillary slmost president havi...,0.250000,1.000000
4,2023-03-15 16:51:05+00:00,VictoryDay_Hope,ðŸ‡¸ðŸ‡ªðŸ‡ºðŸ‡¦We have to decide what weapons Ukraine rea...,0.187500,0.475000
5,2023-03-15 16:51:04+00:00,shehzadyounis,Zelensky vows to reinforce defense of key Donb...,0.000000,1.000000
6,2023-03-15 16:50:44+00:00,DanaHes70442619,@robreiner Zelensky has choked off all opposit...,-0.050000,0.650000
7,2023-03-15 16:50:43+00:00,CarlosPoniwass,@ricwe123 OTAN ist so Bigst then litlle Russian!,0.000000,0.000000
8,2023-03-15 16:50:36+00:00,ms_clueless1,@GeoffYoung4KY Zelensky wants Crimea back. He'...,0.006250,0.250000
9,2023-03-15 16:50:33+00:00,9ironvic,@robreiner Impressive expression of support fo...,0.406250,0.750000

In [9]:
# Insertar valores del dataframe en la tabla creada en la base de datos MySQL 
for i, row in dataframe.iterrows():
    sql = "INSERT INTO tweets_otan (Date, Username, Tweet, Polarity, Subjectivity) VALUES (%s, %s, %s, %s, %s)"
    cursor.execute(sql, tuple(row))
    print("Record inserted", i)
    connect_mydb.commit()

Record inserted 0
Record inserted 1
Record inserted 2
Record inserted 3
Record inserted 4
Record inserted 5
Record inserted 6
Record inserted 7
Record inserted 8
Record inserted 9